#remove{
  
    font-size: 30px;
    border: none;
    width: 4vw;
    color: aliceblue;
    background-color: rgb(196, 16, 16);
    margin-left: 10px;
}
#vaciar{
    color: white;
    background-color: rgb(71, 78, 185);
    border-radius: 5px;
}